@import "reset";
@import "defaults";
@import "mixins";
@import "variables";

body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-underlay {
  z-index: 2;
  width: 100%;
  position: fixed;
  height: 5.6rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;

  .nav-close-btn {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 56px;
    text-decoration: none;
    margin: 40px 64px;
    color: white;

    display: none;
  }

  @media @mobile {
    background-color: rgba(0, 0, 0, 0.8);
    height: 80px;
    transition: height 0.4s;
  }
}

nav {
  z-index: 2;
  margin: 2rem;
  width: 45%;
  position: fixed;
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: white;

    transition: color 0.6s;

    height: 2rem;

    img {
      height: 2rem;
    }
  }

  a:hover {
    color: dodgerblue;
  }

  .hamburger-button {
    .hidden();
  }
  
  @media @tablet {
    width: 80%;
  }

  @media @mobile {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    transition: margin 0.5s;
    transition: height 0.5s;

    .hamburger-button {
      .visible();
    }

    a {
      margin: 1.4rem auto;
      display: none;
    }

    a:first-of-type {
      display: block;
    }
  }
}

.top-section {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .top-bg-img-container {
    display: block;
    .top-bg-img {
      object-fit: cover;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      z-index: -2;
    }
  }

  .top-bg-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    width: 50%;
    max-width: 500px;
    height: 280px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 10px black;
    font-family: "Lato", sans-serif;
    text-align: center;

    @media @tablet {
      width: 60%;
    }

    @media @mobile {
      width: 80%;
    }

    .subhead {
      margin: 30px 20px;
    }

    a {
      .button();
    }
  }
}

#contact {
  div {
    
    .article {
      width: 90%;
      max-width: 750px;
      .form {
        display: flex;
        flex-direction: column;
        width: 100%;

        .button {
          width: 24%;
        }

        .form-row {
          width: 100%;
          height: 32px;
          margin: 10px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .field {
            width: 49%;
            display: flex;
            flex-direction: row;
            
            label {
              width: 40%;
              align-self: center;
            }

            input,
            textarea {
              font-family: "Lato", sans-serif;
              width: 59%;
              background-color: #ececec;
              color: grey;
              padding: 5px;
              border: 0px;
            }

            .message {
              height: 80px;
              resize: vertical;
              min-height: 40px;
              max-height: 120px;
            }
          }
        }

        .form-row:last-of-type{
          height: 100px;

          a{
            align-self: flex-end;
          }
        }
      }
    }
  }
}

section {
  display: flex;
  flex-direction: row;
  font-family: "Lato", sans-serif;
  align-items: center;

  @media @tablet {
    flex-direction: column;
  }

  div {
    width: 50%;
    @media @tablet {
      width: 100%;
    }
    .article {
      margin: auto;
      width: 70%;
      max-width: 750px;
      @media @tablet {
        width: 90%;
        margin: 4rem auto;
      }
    }
  }

  .section-img {
    display: block;

    img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  #top-contact-img {
    .visible();
    @media @tablet {
      .hidden();
    }
  }

  #bottom-contact-img {
    .hidden();
    @media @tablet {
      .visible();
    }
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white;
  height: 80px;
}
